<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
	xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
	xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
	IgnorableNamespaces="uap rescap desktop6">

	<Identity
		Name="cc4eb8d7-a694-4b39-be86-edccdf890305"
		Publisher="CN=red-Geck0"
		Version="2.6.9.0" />

	<mp:PhoneIdentity PhoneProductId="cc4eb8d7-a694-4b39-be86-edccdf890305" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>OmniConsoleMod</DisplayName>
		<PublisherDisplayName>red-Geck0</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
		<!--
			關閉登錄檔寫入虛擬化。預設為 enabled，封裝應用程式對 HKCU 的寫入會被導向套件私有的
			hive（%LOCALAPPDATA%\Packages\{PFN}\SystemAppData\Helium\User.dat），讀取時會與真實
			hive 合併，所以自己讀得回來、外部卻完全看不到。
			本應用程式需要寫入 HKCU\...\GamingConfiguration\GamingHomeApp 讓 Windows 認得 FSE
			Home App 的變更，那是必須被 Windows 本身讀到的值，不能只存在於私有 hive。
			需搭配 unvirtualizedResources 受限功能（見下方 Capabilities）。
		-->
		<desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.26100.7019" MaxVersionTested="10.0.26100.7019" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.7019" MaxVersionTested="10.0.26100.7019" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:AppDisplayName"
				Description="ms-resource:AppDescription"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>

			<!-- 宣告此 App 為 gamingApp 延伸模組，並同時登錄 omniconsole 自訂通訊協定以支援外部連結喚醒-->
			<Extensions>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="windows.gamingApp" Id="App" DisplayName="ms-resource:AppDisplayName" Description="ms-resource:AppExtensionDescription" PublicFolder="Public"/>
				</uap3:Extension>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="omniconsole" />
				</uap:Extension>
			</Extensions>

		</Application>

		<!-- 設定介面入口：獨立出現在開始功能表「所有應用程式」中 -->
		<Application Id="Settings"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:SettingsAppDisplayName"
				Description="ms-resource:SettingsAppDescription"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>

	</Applications>

	<!-- 同 Publisher 的套件共用資料夾，供 PhantomKey 與 PhantomLink 存取 Shared.ini 設定 -->
	<Extensions>
		<Extension Category="windows.publisherCacheFolders">
			<PublisherCacheFolders>
				<Folder Name="OmniConsoleShared" />
			</PublisherCacheFolders>
		</Extension>
	</Extensions>

	<Capabilities>
		<!-- 需要 runFullTrust 以便未來啟動 Steam 或其他 Win32 應用程式 -->
		<rescap:Capability Name="runFullTrust" />
		<!-- 上方 desktop6:RegistryWriteVirtualization=disabled 的必要前提 -->
		<rescap:Capability Name="unvirtualizedResources" />
		<!-- 宣告 gamingHome 自訂功能 -->
		<uap4:CustomCapability Name="Microsoft.appCategory.gamingHome_8wekyb3d8bbwe" />
	</Capabilities>
</Package>
