<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
	xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
	IgnorableNamespaces="uap rescap">

	<Identity
		Name="b5fbce6b-2d7d-4da0-b419-4beb30e2b808"
		Publisher="CN=8bit2qubit"
		Version="2.5.2.0" />

	<mp:PhoneIdentity PhoneProductId="b5fbce6b-2d7d-4da0-b419-4beb30e2b808" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>OmniConsole</DisplayName>
		<PublisherDisplayName>8bit2qubit</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.26100.7019" MaxVersionTested="10.0.26100.7019" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.7019" MaxVersionTested="10.0.26100.7019" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:AppDisplayName"
				Description="ms-resource:AppDescription"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>

			<!-- 宣告此 App 為 gamingApp 延伸模組，並同時登錄 omniconsole 自訂通訊協定以支援外部連結喚醒-->
			<Extensions>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="windows.gamingApp" Id="App" DisplayName="ms-resource:AppDisplayName" Description="ms-resource:AppExtensionDescription" PublicFolder="Public"/>
				</uap3:Extension>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="omniconsole" />
				</uap:Extension>
			</Extensions>

		</Application>

		<!-- 設定介面入口：獨立出現在開始功能表「所有應用程式」中 -->
		<Application Id="Settings"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:SettingsAppDisplayName"
				Description="ms-resource:SettingsAppDescription"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>

	</Applications>

	<!-- 同 Publisher 的套件共用資料夾，供 PhantomKey 與 PhantomLink 存取 Shared.ini 設定 -->
	<Extensions>
		<Extension Category="windows.publisherCacheFolders">
			<PublisherCacheFolders>
				<Folder Name="OmniConsoleShared" />
			</PublisherCacheFolders>
		</Extension>
	</Extensions>

	<Capabilities>
		<!-- 需要 runFullTrust 以便未來啟動 Steam 或其他 Win32 應用程式 -->
		<rescap:Capability Name="runFullTrust" />
		<!-- 宣告 gamingHome 自訂功能 -->
		<uap4:CustomCapability Name="Microsoft.appCategory.gamingHome_8wekyb3d8bbwe" />
	</Capabilities>
</Package>
